// Place all the styles related to the Charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul#failed {
  background-color: #FF0000;
  width: fit-content;
  padding-right: 20px;
}

ul#disputed {
  background-color: #FF5400;
  width: fit-content;
  padding-right: 20px;
}